<!-- IF !S_USER_LOGGED_IN -->
<!-- INCLUDEJS @anavaro_trackntrace/js/f1.min.js -->
<!-- INCLUDEJS @anavaro_trackntrace/js/js.cookie.js -->
<script>
	(function($) {  // Avoid conflicts with other libraries
		"use strict"
		$(function () {
			var opt = {
				excludes: {
					'userAgent': true,
					// Unreliable on Windows, see https://github.com/Valve/fingerprintjs2/issues/375
					'enumerateDevices': true,
					// devicePixelRatio depends on browser zoom, and it's impossible to detect browser zoom
					'pixelRatio': true,
					// DNT depends on incognito mode for some browsers (Chrome) and it's impossible to detect incognito mode
					'doNotTrack': true,
					// uses js fonts already
					'fontsFlash': true
			}};
			if (window.requestIdleCallback) {
				requestIdleCallback(function () {
					Fingerprint2.get(opt, function (components) {
						var result = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
						Cookies.set('phpbb_fp2', result, { expires: 1/96 });
					})
				})
			} else {
				setTimeout(function () {
					Fingerprint2.get(opt, function (components) {
						var result = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
						Cookies.set('phpbb_fp2', result, { expires: 1/96 });
					})
				}, 500)
			}
		});
	})(jQuery); // Avoid conflicts with other libraries

</script>
<!-- ENDIF -->

