<!-- IF !S_USER_LOGGED_IN -->
<!-- INCLUDEJS @anavaro_trackntrace/js/f1.min.js -->
<!-- INCLUDEJS @anavaro_trackntrace/js/js.cookie.js -->
<script>
	(function($) {  // Avoid conflicts with other libraries
		"use strict"
		$(function () {
			var opt = { excludes: {userAgent: true} };
			//var opt = {};
			if (window.requestIdleCallback) {
				requestIdleCallback(function () {
					Fingerprint2.get(opt, function (components) {
						var result = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
						Cookies.set('phpbb_fp2', result, { expires: 1/96 });
					})
				})
			} else {
				setTimeout(function () {
					Fingerprint2.get(opt, function (components) {
						var result = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
						Cookies.set('phpbb_fp2', result, { expires: 1/96 });
					})
				}, 500)
			}
		});
	})(jQuery); // Avoid conflicts with other libraries

</script>
<!-- ENDIF -->

